<h2><%= current_user.email %></h2>


<ul>
<% @user.items.each do |zebra| %>
	<%= render partial: "items/item", locals: {item: zebra} %>
<% end %>
<ul>

 <div class="col-md-4">
     <%= link_to "New Todo Item", new_item_path, class: 'btn btn-success' %>
 </div>